# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/

# Docker files
*.env

# Ignore all .env files
.env

# Ignore all test results
*.test
